@charset "utf-8";

html {
	height: 100%;
	font-size: 14px;
}


header {
	float:center;
	width: 100%;
	padding: 30px ;
	margin: 30px ;
}
body {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	padding-left: 4.45%;
	padding-right: 4.45%;
	min-height: 100%;
}
nav a {
	clear: both;
	margin-left: auto;
	width: 50%;
	float: center;
	display: table-header-group;
	height: 25px;
	margin-bottom: 20px;
}

nav a:last-of-type {
	margin-bottom: 30px;
}

nav a img {
	display:inline-grid;
	width: 100%;
}

footer {
	width: 96%;
	clear: left;
    float: clear;
	text-align: center;
	font-size: 1.2em;
	margin-top: 30px;
	border-top: 5px solid rgba(130,2,230,1.00);
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
}


/* =============================================
	Tablet layout styles used by devices
	481px to 768px and cascaded to larger 
	devices.
   =============================================
*/

@media only screen and (min-width: 481px) {
body {
	width: 100%;
	padding-left: 1.55%;
	padding-right: 1.55%;
	margin-left: auto;
}
nav a {
	width:33%;
	height: 40%;
	float: center;
	clear: center;
	display:inline-table;
	overflow: visible;
	margin-bottom: 30px;
}
nav a img {
 width: 85%;
 height: 33%;
 margin-top:30px;
 padding-left: 15px;
 padding-right: 15px;
 flaot: center; 
}

nav a:nth-of-type(4) {
	clear: none
}




/* =============================================
	Desktop layout styles used by  devices
	769px and larger.
   =============================================
*/

@media only screen and (min-width: 769px) {
html, body {
	font-size: 23px;
}
html {
	background-color: rgba(163, 228, 215,1.00);
	margin: 20px auto;
}
body {
	width: 88.2%;
	max-width: 1300px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
	margin-left: auto;
	background-color: #DFF5F1; /*This is light blue I think on the main page behind the pictures and below this should change the big background to dark teal/blue */
	-moz-box-shadow: rgba(20, 143, 119, 0.9) 20px 0px 25px,  rgba(20, 143, 119, 0.9) -20px 0px 25px;
	-webkit-box-shadow: rgba(20, 143,119, 0.9) 20px 0px 25px,  rgba(20, 143, 119, 0.9) -20px 0px 25px;
	box-shadow: rgba(20, 143,119, 0.9) 20px 0px 25px,  rgba(20, 143, 119, 0.9) -20px 0px 25px
}

}


